html, body {
    height: 100%;
    width: 100%;
}

div.formHolder {
    display: block;
    position: relative;
    height: 200px;
    width: 300px;
    margin-left: calc(50% - 145px);
}

div.resultsHolder {
    display: block;
    text-align: center;
    position: relative;
    height: 500px;
    width: 100%;
}

h2.header {
    margin-left: 45%;
}